tech/TEMPLATE/**
map/pyCrown - Ярлык.lnk
xlam/~$count_around.xlsx
old_tech/**
xlam/gurps-e4-space.pdf
xlam/цитаты.txt
xlam/некоторые проекты.txt
*.zip
wr-stardust.sublime-project
wr-stardust.sublime-workspace
