.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

table {
  border-collapse: collapse;
}

#home_btn {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 5;
  background: lightgray; 
  padding: 4px 8px;
}

.border {
  border: 1px solid grey;
}

// TODO rules.css
[data-value="Наземный бой"],[data-value="Вооружение и защита"],[data-value="Война в космосе"]{ background-color: #FF9966 };
[data-value="Генетика"],[data-value="Экзобиология"]{ background-color: #CCFFCC };
[data-value="Добыча"],[data-value="Производство"],[data-value="Космос"]{ background-color: #FFCC00 };
[data-value="Физика пространства"],[data-value="Компьютеры"],[data-value="Импланты"]{ background-color: #99CCFF };
[data-value="Государство"],[data-value="Социология"],[data-value=""]{ background-color: 'CC99FF };
[data-value="Уникальные технологии"]{ background-color: #FFFFFF };
